<%- include('_nav', {page: 'detail'}) %>

  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="https://lh3.googleusercontent.com/pw/AP1GczOVvoA7eVxOtUa0pDiRFKcEbjaY7aqayCy_WPiKAx_wK5JUUrF_WY6KOpO473byR_zWNa9M3bgEhBG37C11chhOWEEsripPpiCdMZmza33dSIE5GaOWERrqByio4zVgMXmddfnyO9eKrRTi-zWl8baa=w968-h645-s-no-gm?authuser=0" />
            </a>
          </div>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                Single
            </h4>
  
            <div class="mb-3">
              <span class="text-primary h5">Rp. 10.000.000.00</span>
            </div>
  
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quidem, a quasi excepturi corporis pariatur eveniet fuga ut rerum qui labore voluptatem error tempore natus facilis quae? Dolores, deleniti eveniet!
            </p>
  
            <div class="row">
              <dt class="col-3">Ukuran:</dt>
              <dd class="col-9">1.5 x 3 Meter</dd>
  
              <dt class="col-3">Lubang:</dt>
              <dd class="col-9">1</dd>
  
              <dt class="col-3">Pemakaman:</dt>
              <dd class="col-9">Al-AZHAR Memorial Garden</dd>
  
              <dt class="col-3">Lokasi:</dt>
              <dd class="col-9">Kindo Square Blok A18, Jl. Duren Tiga Raya No.101</dd>

              <dt class="col-3">Kota:</dt>
              <dd class="col-9">Jakarta</dd>

              <dt class="col-3">No. Telepon:</dt>
              <dd class="col-9">+6285888555200</dd>
            </div>
  
            <hr />

            <a href="#" class="btn btn-warning shadow-0">Reservasi Sekarang</a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

<%- include('_footer') %>